<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.weizncompany.hala2k16"
        versionCode = "10" 
        version     = "1.0.0" >

    
    <name>Hala2k16</name>

    <description>
        hala 2016
    </description>

    <author href="https://fb.com/wizeljohn" email="jhonwesleybonifacio062292@gmail.com">
        weiz Jhon
    </author>
    
    <preference name="phonegap-version" value="2.9.0" />
     
    <gap:plugin name="com.phonegap.plugins.facebookconnect">
    <param name="APP_ID" value="1709102955977482" />
    <param name="APP_NAME" value="hala2016" />
    </gap:plugin>
    
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>>
</widget>
